body {
    background: #f9f9f9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .container {
    width: 100%;
    padding: 50px 0;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .emoji {
    box-sizing: border-box;
    float: left;
  }
  
  .face {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 15px 30px 0;
    border-radius: 50%;
    background: #F2DD68;
  }
  
  .face:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -8px;
    left: -8px;
    border-radius: 50%;
    box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0.07);
  }
    
  .mouth {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    z-index: 1;
    width: 150px;
    height: 70px;
    margin: 0 auto;
    border-radius: 0 0 70px 70px;
    overflow: hidden;
    background: #995710;
  }
  
  .mouth:before,
  .mouth:after {
    content: '';
    position: absolute;
    display: block;
  }
  
  .mouth.tounge:after {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 0;
    right: 0;
    top: 35px;
    margin: 0 auto;
    border-radius: 50%;
    background: #d8aa2b;
  }
  
  .heart-eye {
    position: absolute;
    top: 65px;
    left: 56px;
    transform: rotate(-15deg);
  }
  
  .heart-eye:last-child {
    left: auto;
    right: 55px;
    transform: rotate(15deg);
  }
  
  .heart {
    display: block;
    width: 16px;
    height: 16px;
    background: #e25d5d;
    transform: rotate(-45deg);
  }
  
  .heart:before,
  .heart:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #e25d5d;
  }
  
  .heart:before {
    top: -8px;
    left: 0;
  }
  
  .heart:after {
    left: 8px;
    top: 0;
  }
  
  .love .mouth {
    transform: scale(0.5, 0.5);
  }
  