/*------ Main Emoji Styling ------*/

body {
    background: #f9f9f9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .container {
    width: 100%;
    padding: 50px 0;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .emoji {
    box-sizing: border-box;
    float: left;
  }
  
  .face {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 15px 30px 0;
    border-radius: 50%;
    background: #F2DD68;
  }
  
  .face:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -8px;
    left: -8px;
    border-radius: 50%;
    box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0.07);
  }
    
  .mouth {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    z-index: 1;
    width: 70px;
    height: 34px;
    margin: 0 auto;
    border-radius: 0 0 70px 70px;
    overflow: hidden;
    background: #995710;
  }
  
  .mouth:before,
  .mouth:after {
    content: '';
    position: absolute;
    display: block;
  }
  
  .mouth.teath:before {
    width: 100%;
    height: 10px;
    z-index: 2;
    background: #fffae6;
  }
  
  .mouth.tounge:after {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 0;
    right: 0;
    top: 15px;
    margin: 0 auto;
    border-radius: 50%;
    background: #d8aa2b;
  }
  
  /*------ Love Emoji Styling ------*/
  
  .heart-eye {
    position: absolute;
    top: 30px;
    left: 16px;
    transform: rotate(-15deg);
  }
  
  .heart-eye:last-child {
    left: auto;
    right: 16px;
    transform: rotate(15deg);
  }
  
  .heart {
    display: block;
    width: 16px;
    height: 16px;
    background: #e25d5d;
    transform: rotate(-45deg);
  }
  
  .heart:before,
  .heart:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #e25d5d;
  }
  
  .heart:before {
    top: -8px;
    left: 0;
  }
  
  .heart:after {
    left: 8px;
    top: 0;
  }
  
  .love .mouth {
    transform: scale(0.5, 0.5);
  }
  
  .love:hover .heart-eye {
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }
  
  .love:hover .heart-eye:last-child {
    animation-name: pulse-right;
  }
  
  @keyframes pulse {
    30% {
      transform: scale(1.1, 1.1) rotate(-15deg);
    }
    70% {
      transform: scale(1, 1) rotate(-15deg);
    }
  }
  
  @keyframes pulse-right {
    30% {
      transform: scale(1.1, 1.1) rotate(15deg);
    }
    70% {
      transform: scale(1, 1) rotate(15deg);
    }
  }
  
  
  